@{
    ViewData["Title"] = "Salles Web MVC App from C# Course";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>@ViewData["Aluno"]</p>

<address>
    <strong>More information: </strong><a href="https://www.facebook.com/maerciogbb">Maércio GBB</a>
</address>
